
body{
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
    margin: 0;
  padding: 0;
}

.Introduction-container{
   background:linear-gradient(to right, rgba(81,26,82,0.65) 0%, rgba(81,26,82,0.65) 100%),
url("Bar.jpg");
  background-size: cover;          
  background-position: center;
  background-repeat: no-repeat;
 
    
            text-align: center;
            height:70vh;
            padding:20px;
            
}

.Introduction-container h1{
 font-size:45px;
 color:rgba(240, 189, 249, 1);
 margin: 40px;
 font-weight:bolder;

}

.Introduction-container p {
  font-size:20px;
 color:rgb(242, 226, 245);
 margin: 40px;
}

.links{
  border-radius:40px;
  padding:13px;
  color:rgb(242, 226, 245);
  background:rgba(17, 19, 68, 1);
  text-decoration: none;
  margin:50px;
  text-shadow: 0 1px 3px rgba(255, 250, 250, 0.6);
}

.links:hover{
  border-radius:40px;
  padding:13px;
  color:rgb(226, 61, 255);
  background:rgba(17, 19, 68, 1);
  text-decoration: none;
  margin:50px;
}

.cards-container{
  justify-content: space-between;
  display:flex;
  align-items: center;
  background:linear-gradient(to right,rgba(17, 19, 68, 0.9), rgba(17, 19, 68, 0.8));
  height:120vh;
  gap: 10px;
  box-sizing: border-box;
  
}

.cards-container img{
  width:250px;
  height:140px;
  border-radius:25px;
}

.cards-container h1{
  color:rgb(219, 19, 254);
  font-size:45px;
  position:relative;
  bottom:240px;
  white-space: nowrap;
  
}

.info{
  text-align:center;
  font-weight:100;
  line-height:13px;
  margin:10px;
}

.info p{
  display:inline-block;
  font-size:20px
 
}




.info i{
  display: inline-block;
  text-align:center;
 
}

.Act-card h4{
  font-size:23px;
  font-weight:bold;
  margin:10px;
}

.fa-star{
color:#EFBF04;
font-size:25px;

}
.fa-tag{
  color:#118C4F;
  font-size:25px;
}
.fa-location-dot{
 color:beige;
 font-size:25px;
}
.Act-card{
  background:linear-gradient(to right,rgba(0, 2, 46,1),rgba(0, 2, 46,0.8));
  border-radius:25px;
  color:rgb(242, 226, 245);
  margin-right:20px;
  text-shadow: 0 1px 3px rgba(255, 250, 250, 0.6);
   width: 300px; 
      height: 470px; 
      position:relative;
  top:40px;
  right:320px
}

.AddedPlan{
  display:inline-block;
  border-radius:20px;
  background:rgb(217, 94, 239);
  color:rgb(242, 226, 245);
  border: 1px solid rgb(225, 83, 250);
  font-size:19px;
  padding:5px;
  text-shadow: 0 1px 3px rgba(255, 250, 250, 0.6);
}

.AddedPlan:hover{
  background:rgb(242, 178, 253);
  color:rgb(242, 226, 245);
  border: 1px solid rgb(246, 196, 255);
  cursor:pointer;
  
}

.Map-container{
  background:linear-gradient(to right,rgba(215, 24, 249, 0.9),rgba(223, 55, 253, 0.7));
  position:relative;
  bottom:33px;
}

.Map-container h1{
color:rgb(60, 1, 71);
text-align: center;
font-size:50px;

}

.map-wrap{
  text-align: center;
  width:100%;
  height:400px;
}

.map-wrap iframe {
 border: 0;
height: 85%;
width: 85%;
border:4px solid white;
   }


   .footer-container{
    height:150vh;
    width:100%;
    position:relative;
    bottom:33px;
    color:rgb(242, 226, 245);
   }




  .row-1{
    background:linear-gradient(to right,rgba(60, 1, 71,1),rgba(60, 1, 71,0.8));
     justify-content: space-between;
    display:flex;
    align-items: center;
  
  }

  .col-1{
    margin-left: auto;
    margin-right: auto;
  }

  .col-1 p{
text-align: center;
font-size:12px;
line-height: 10px;
  }
  .col-1 h1{
    font-size:20px;
  }
   .col-2 {
    margin-left: auto;
    margin-right: auto;
  }

  .col-2 p{
text-align: center;
font-size:12px;
line-height: 10px;
  }

  .col-2 h1{
    font-size:20px;
  }
   .col-3 {
    margin-left: auto;
    margin-right: auto;
  }


  .col-3 a{
text-align: center;
font-size:12px;
line-height: 10px;
text-decoration: none;
margin-right:20px;
font-size:15px
  }

    .col-3 h1{
    font-size:20px;
    margin-left:20px
  }


.fa-facebook{
  color:rgba(24, 119, 242, 1)
}

.fa-facebook:hover{
  color:#166FE5
}

.fa-instagram{
color:rgba(228, 64, 95, 1)
}

.fa-instagram:hover{
  color:rgba(228, 64, 95, 0.8)
}

.ri-linkedin-fill{
color:rgba(10, 102, 194, 1)
}

.ri-linkedin-fill:hover{
color:#004182
}

.ri-whatsapp-line{
 color:rgba(37, 211, 102, 1)
}

.ri-whatsapp-line:hover{
 color:#128C7E
}

.row-2 p{
   position: absolute; left: 0; right: 0; bottom: 0;
  padding: 12px 16px; text-align: center;
  background: #111344; color: #F6D7FB;
}
